name: "[cron]-[glibc]-[qemuarm64]-[bump]"

on:
  repository_dispatch:
    types: do-master-bump
  schedule:
    - cron: "0 2 * * 2"
  workflow_dispatch:

jobs:
  buildrun:
    name: "build"
    env:
      SCM_BRANCH: master
      BUILD_MAXRUNTIME: 21000
      PYTHONIOENCODING: utf8
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
      LANGUAGE: en_US.UTF-8
      WORKSPACE: /opt/build
      TOPDIR: /opt/build
      TEMPLATECONF: /opt/build/sources/meta-rubygems/conf/templates/rubygems-arm64-glibc

    runs-on: ubuntu-latest

    container:
      image: privkweihmann/yocto-sca-minimal:2004
      volumes:
        - ${{ github.workspace }}:/opt/build
      options: --privileged --user=yoctouser

    steps:
      - name: setup (container)
        uses: priv-kweihmann/meta-sca-ci-utils/preparecontainer@latest
      - name: setup (caches)
        run: |
          mkdir -p ${WORKSPACE}/sstate-cache
        shell: bash
      - name: checkout (poky)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@latest
        with:
          repo: git://git.yoctoproject.org/poky.git
          ref: 058a44165ce375f405063e73a9fcd1b2757ef8da
          branch: none
          remove-git: "0"
          add-layer: "0"
      - name: checkout (meta-rubygems)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@latest
        with:
          repo: https://github.com/priv-kweihmann/meta-rubygems.git
          branch: ${{ env.SCM_BRANCH }}
          remove-git: "0"
          add-layer: "0"
      - name: checkout (meta-openembedded)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@latest
        with:
          repo: git://git.openembedded.org/meta-openembedded
          ref: ca67bf7dfded5f7f13a929f126642161b7a5de4e
          branch: none
          remove-git: "0"
          add-layer: "0"
      - name: build (revision update)
        run: |
          GIT_USER="${{ secrets.BOTNAME }}" \
          GIT_MAIL="${{ secrets.BOTMAIL }}" \
          GIT_USERNAME="${{ secrets.BOTGITUSER }}" \
          GIT_PASSWORD="${{ secrets.BOTTOKEN }}" \
          GITHUB_REPO_USER=${{ github.repository_owner }} \
          GITHUB_REPO=meta-rubygems \
          ${WORKSPACE}/sources/meta-rubygems/scripts/bump-bot \
          ${{ env.SCM_BRANCH }} \
          ${WORKSPACE}/sources/poky \
          ${WORKSPACE}/sources/meta-openembedded \
        shell: bash

