name: "[cron]-[glibc]-[qemuarm64]-[pkgupdate]"

on:
  repository_dispatch:
    types: do-package-update
  schedule:
    - cron: "0 2 * * 6"
  workflow_dispatch:

jobs:
  buildrun:
    name: "build"
    env:
      SCM_BRANCH: master
      BUILD_MAXRUNTIME: 21000
      PYTHONIOENCODING: utf8
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
      LANGUAGE: en_US.UTF-8
      WORKSPACE: /opt/build
      TOPDIR: /opt/build
      PYTHONUNBUFFERED: 1
      TEMPLATECONF: /opt/build/sources/meta-rubygems/conf/templates/rubygems-arm64-glibc

    runs-on: ubuntu-22.04

    container:
      image: privkweihmann/yocto-sca-minimal:2204
      volumes:
        - ${{ github.workspace }}:/opt/build
      options: --privileged --user=yoctouser

    steps:
      - name: setup (container)
        uses: priv-kweihmann/meta-sca-ci-utils/preparecontainer@2.0
      - name: setup (caches)
        run: |
          mkdir -p ${WORKSPACE}/sstate-cache
        shell: bash
      - name: additional setup (caches)
        id: caches
        uses: actions/cache@v3
        with:
          path: /opt/build/sstate-cache
          key: rubygems-arm64-glibc-${{ env.SCM_BRANCH }}-${{ github.sha }}
          restore-keys: |
            rubygems-arm64-glibc-${{ env.SCM_BRANCH }}-
      - name: configure (caches fallback)
        if: ${{ ! steps.caches.outputs.cache-hit }}
        run: |
          mkdir -p /opt/build/sstate-cache
      - name: checkout (poky)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@2.0
        with:
          repo: https://github.com/openembedded/openembedded-core.git
          ref: 2e4c9b8dee3b1d545aee354ac1f8c6a5c0bad433
          branch: none
          add-layer: "0"
      - name: checkout (bitbake)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@2.0
        with:
          repo: https://github.com/openembedded/bitbake.git
          ref: 35a421cdcafb3595b9de5489ffdc567825400d26
          branch: none
          add-layer: "0"
      - name: checkout (meta-yocto)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@2.0
        with:
          repo: https://git.yoctoproject.org/meta-yocto.git
          ref: 853589ccc3445f5952efc02a7102587cb4d4f075
          branch: none
          add-layer: "0"
      - name: checkout (meta-openembedded)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@2.0
        with:
          repo: https://github.com/openembedded/meta-openembedded.git
          ref: d302ffa54770d803b5149e5ab24df01c5892aa2e
          branch: none
          add-layer: "0"
      - name: checkout (meta-rubygems)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@2.0
        with:
          repo: https://github.com/priv-kweihmann/meta-rubygems.git
          branch: ${{ env.SCM_BRANCH }}
          remove-git: "0"
          add-layer: "0" # layer setup will be controller by TEMPLATECONF

      - name: activate (caches)
        uses: priv-kweihmann/meta-sca-ci-utils/addvar@2.0
        with:
          variable: SSTATE_DIR
          value: "${WORKSPACE}/sstate-cache"
      - name: build (glibc)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@2.0
        with:
          target: glibc
          ignore-exit-codes: 124 137
      - name: build (kernel)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@2.0
        with:
          target: linux-yocto
          ignore-exit-codes: 124 137
      - name: build (qemu-system)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@2.0
        with:
          target: qemu-system-native
          ignore-exit-codes: 124 137
      - name: setup (rubygemsdebug)
        uses: priv-kweihmann/meta-sca-ci-utils/addvar@2.0
        with:
          variable: INHERIT
          operation: " += "
          value: "rubygemsdebug"
      - name: setup (generate test files)
        uses: priv-kweihmann/meta-sca-ci-utils/addvar@2.0
        with:
          variable: RUBYGEMS_AUTOGEN_TESTS
          value: "1"
      - name: install (additional packages)
        run: |
          pip3 install -r ${WORKSPACE}/sources/meta-rubygems/scripts/dev-requirements.txt
          pip3 install -r ${WORKSPACE}/sources/meta-rubygems/scripts/requirements-package-bot.txt
        shell: bash
      - name: build (tools)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@2.0
        with:
          target: "ruby gmp yajl libxml2 libxslt krb5 libffi"
          ignore-exit-codes: 124 137
      - name: build (core-image-minimal-rubygems)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@2.0
        with:
          target: core-image-minimal-rubygems
          ignore-exit-codes: 124 137
      - name: build (package update)
        run: |
          source /github/actions/scripts/utils
          setup_bitbake
          GIT_USER="${{ secrets.BOTNAME }}" \
          GIT_MAIL="${{ secrets.BOTMAIL }}" \
          GIT_USERNAME="${{ secrets.BOTGITUSER }}" \
          GIT_PASSWORD="${{ secrets.BOTTOKEN }}" \
          GITHUB_REPO_USER=${{ github.repository_owner }} \
          GITHUB_REPO=meta-rubygems \
          ${WORKSPACE}/sources/meta-rubygems/scripts/package-bot
        shell: bash