name: "[cron]-[glibc]-[qemuarm64]-[pkgupdate]"

on:
  repository_dispatch:
    types: do-package-update
  schedule:
    - cron: "0 2 * * 6"
  workflow_dispatch:

jobs:
  buildrun:
    name: "build"
    env:
      SCM_BRANCH: master
      BUILD_MAXRUNTIME: 21000
      PYTHONIOENCODING: utf8
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
      LANGUAGE: en_US.UTF-8
      WORKSPACE: /opt/build
      TOPDIR: /opt/build
      TEMPLATECONF: /opt/build/sources/meta-rubygems/conf/templates/rubygems-arm64-glibc

    runs-on: ubuntu-latest

    container:
      image: privkweihmann/yocto-sca-minimal:2004
      volumes:
        - ${{ github.workspace }}:/opt/build
      options: --privileged --user=yoctouser

    steps:
      - name: setup (container)
        uses: priv-kweihmann/meta-sca-ci-utils/preparecontainer@latest
      - name: setup (caches)
        run: |
          mkdir -p ${WORKSPACE}/sstate-cache
        shell: bash
      - name: additional setup (caches)
        id: caches
        uses: actions/cache@v3
        with:
          path: /opt/build/sstate-cache
          key: rubygems-arm64-glibc-${{ env.SCM_BRANCH }}-${{ github.sha }}
          restore-keys: |
            rubygems-arm64-glibc-${{ env.SCM_BRANCH }}-
      - name: configure (caches fallback)
        if: ${{ ! steps.caches.outputs.cache-hit }}
        run: |
          mkdir -p /opt/build/sstate-cache
      - name: checkout (poky)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@latest
        with:
          repo: git://git.yoctoproject.org/poky.git
          ref: 058a44165ce375f405063e73a9fcd1b2757ef8da
          branch: none
          add-layer: "0"
      - name: checkout (meta-rubygems)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@latest
        with:
          repo: https://github.com/priv-kweihmann/meta-rubygems.git
          branch: ${{ env.SCM_BRANCH }}
          remove-git: "0"
          add-layer: "0"
      - name: checkout (meta-openembedded)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@latest
        with:
          repo: git://git.openembedded.org/meta-openembedded
          ref: ca67bf7dfded5f7f13a929f126642161b7a5de4e
          branch: none
          add-layer: "0"
      - name: activate (caches)
        uses: priv-kweihmann/meta-sca-ci-utils/addvar@latest
        with:
          variable: SSTATE_DIR
          value: "${WORKSPACE}/sstate-cache"
      - name: build (glibc)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@latest
        with:
          target: glibc
          ignore-exit-codes: 124 137
      - name: build (kernel)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@latest
        with:
          target: linux-yocto
          ignore-exit-codes: 124 137
      - name: build (qemu-system)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@latest
        with:
          target: qemu-system-native
          ignore-exit-codes: 124 137
      - name: setup (rubygemsdebug)
        uses: priv-kweihmann/meta-sca-ci-utils/addvar@latest
        with:
          variable: INHERIT
          operation: " += "
          value: "rubygemsdebug"
      - name: setup (generate test files)
        uses: priv-kweihmann/meta-sca-ci-utils/addvar@latest
        with:
          variable: RUBYGEMS_AUTOGEN_TESTS
          value: "1"
      - name: install (additional packages)
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends curl
        shell: bash
      - name: build (tools)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@latest
        with:
          target: "ruby gmp yajl libxml2 libxslt krb5 libffi"
          ignore-exit-codes: 124 137
      - name: build (core-image-minimal-rubygems)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@latest
        with:
          target: core-image-minimal-rubygems
          ignore-exit-codes: 124 137
      - name: build (package update)
        run: |
          source /github/actions/scripts/utils
          setup_bitbake
          GIT_USER="${{ secrets.BOTNAME }}" \
          GIT_MAIL="${{ secrets.BOTMAIL }}" \
          GIT_USERNAME="${{ secrets.BOTGITUSER }}" \
          GIT_PASSWORD="${{ secrets.BOTTOKEN }}" \
          GITHUB_REPO_USER=${{ github.repository_owner }} \
          GITHUB_REPO=meta-rubygems \
          ${WORKSPACE}/sources/meta-rubygems/scripts/package-bot
        shell: bash
      - name: print disk usage
        if: always()
        uses: priv-kweihmann/meta-sca-ci-utils/diskusage@latest
