name: "[cron]-[glibc]-[qemuarm64]-[bump]"

on:
  repository_dispatch:
    types: do-master-bump
  schedule:
    - cron: "0 2 * * 2"
  workflow_dispatch:

jobs:
  buildrun:
    name: "build"
    env:
      SCM_BRANCH: master
      BUILD_MAXRUNTIME: 21000
      PYTHONIOENCODING: utf8
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
      LANGUAGE: en_US.UTF-8
      WORKSPACE: /opt/build
      TOPDIR: /opt/build
      TEMPLATECONF: /opt/build/sources/meta-rubygems/conf/templates/rubygems-arm64-glibc

    runs-on: ubuntu-22.04

    container:
      image: privkweihmann/yocto-sca-minimal:2204
      volumes:
        - ${{ github.workspace }}:/opt/build
      options: --privileged --user=yoctouser

    steps:
      - name: setup (container)
        uses: priv-kweihmann/meta-sca-ci-utils/preparecontainer@2.0
      - name: setup (caches)
        run: |
          mkdir -p ${WORKSPACE}/sstate-cache
        shell: bash
      - name: checkout (poky)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@2.0
        with:
          repo: https://github.com/openembedded/openembedded-core.git
          ref: cf60072cb7809018d2226b663a24eb2bab439ac6
          branch: none
          add-layer: "0"
          remove-git: "0"
      - name: checkout (bitbake)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@2.0
        with:
          repo: https://github.com/openembedded/bitbake.git
          ref: 35a421cdcafb3595b9de5489ffdc567825400d26
          branch: none
          add-layer: "0"
      - name: checkout (meta-yocto)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@2.0
        with:
          repo: https://git.yoctoproject.org/meta-yocto.git
          ref: b3b659263566c4d2f2813190e72d93f8598a4c47
          branch: none
          add-layer: "0"
          remove-git: "0"
      - name: checkout (meta-openembedded)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@2.0
        with:
          repo: https://github.com/openembedded/meta-openembedded.git
          ref: c0fb020740903f8ef2635fc9fac5839327c578ca
          branch: none
          remove-git: "0"
          add-layer: "0"
      - name: checkout (meta-rubygems)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@2.0
        with:
          repo: https://github.com/priv-kweihmann/meta-rubygems.git
          branch: ${{ env.SCM_BRANCH }}
          remove-git: "0"
          add-layer: "0" # layer setup will be controller by TEMPLATECONF
      - name: install (additional packages)
        run: |
          pip3 install -r ${WORKSPACE}/sources/meta-rubygems/scripts/dev-requirements.txt
          pip3 install -r ${WORKSPACE}/sources/meta-rubygems/scripts/requirements-package-bot.txt
        shell: bash
      - name: build (revision update)
        run: |
          GIT_USER="${{ secrets.BOTNAME }}" \
          GIT_MAIL="${{ secrets.BOTMAIL }}" \
          GIT_USERNAME="${{ secrets.BOTGITUSER }}" \
          GIT_PASSWORD="${{ secrets.BOTTOKEN }}" \
          GITHUB_REPO_USER=${{ github.repository_owner }} \
          GITHUB_REPO=meta-rubygems \
          ${WORKSPACE}/sources/meta-rubygems/scripts/bump-bot \
          ${{ env.SCM_BRANCH }} \
          ${WORKSPACE}/sources/openembedded-core \
          ${WORKSPACE}/sources/meta-yocto \
          ${WORKSPACE}/sources/meta-openembedded \
        shell: bash

