name: "[pr]-[glibc]-[qemuarm64]"

on: 
  pull_request:
    branches:
      - kirkstone

jobs:
  buildrun:
    name: "build"
    env:
      BUILD_EXPORT: 1
      SCM_BRANCH: kirkstone
      BUILD_GLIBC: 1
      BUILD_KERNEL: 1
      BUILD_MAXRUNTIME: 21000
      BUILD_QEMUSYSTEM: 1
      PYTHONIOENCODING: utf8
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
      LANGUAGE: en_US.UTF-8

    runs-on: ubuntu-latest

    container:
      image: privkweihmann/yocto-sca-minimal:2004
      env:
        WORKSPACE: /opt/build
        TOPDIR: /opt/build
        TEMPLATECONF: /opt/build/sources/meta-rubygems/conf/variant/rubygems-arm64-glibc
      volumes:
        - ${{ github.workspace }}:/opt/build
      options: --privileged

    steps:
      - name: setup (container)
        uses: priv-kweihmann/meta-sca-ci-utils/preparecontainer@latest
      - name: additional setup (caches)
        uses: actions/cache@v3
        with:
          path: /opt/build/sstate-cache
          key: rubygems-arm64-glibc-${{ env.SCM_BRANCH }}-${{ github.sha }}
          restore-keys: |
            rubygems-arm64-glibc-${{ env.SCM_BRANCH }}-
      - name: checkout (poky)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@latest
        with:
          repo: git://git.yoctoproject.org/poky.git
          ref: 2b49a8fbf0c7965982e50e6e2643b17523c119c9
          add-layer: "0"
      - name: checkout (meta-rubygems)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@latest
        with:
          repo: auto-determine
          branch: auto-determine
          gh-event-file: "1"
          add-layer: "0"
      - name: checkout (meta-openembedded)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@latest
        with:
          repo: git://git.openembedded.org/meta-openembedded
          ref: 9cf4ebeb3de524009a73f49722489dc4aa183adb
          add-layer: "0"
      - name: activate (caches)
        uses: priv-kweihmann/meta-sca-ci-utils/addvar@latest
        with:
          variable: SSTATE_DIR
          value: "${WORKSPACE}/sstate-cache"
      - if: env.BUILD_GLIBC == '1'
        name: build (glibc)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@latest
        with:
          target: glibc
      - if: env.BUILD_KERNEL == '1'
        name: build (kernel)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@latest
        with:
          target: linux-yocto
      - if: env.BUILD_QEMUSYSTEM == '1'
        name: build (qemu-system)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@latest
        with:
          target: qemu-system-native
      - name: setup (rm_work_and_downloads)
        uses: priv-kweihmann/meta-sca-ci-utils/addvar@latest
        with:
          variable: INHERIT
          operation: " += "
          value: "rm_work_and_downloads rubygemsdebug"
      - name: build (core-image-minimal-rubygems)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@latest
        with:
          target: core-image-minimal-rubygems
      - name: test (core-image-minimal-rubygems)
        uses: priv-kweihmann/meta-sca-ci-utils/testimage@latest
        with:
          target: core-image-minimal-rubygems
          tapgen: "0"
