name: "[pr]-[glibc]-[qemuarm64]"

on: pull_request

jobs:
  buildrun:
    name: "build"
    env:
      BUILD_EXPORT: 1
      SCM_BRANCH: master
      BUILD_GLIBC: 1
      BUILD_KERNEL: 1
      BUILD_MAXRUNTIME: 21000
      BUILD_QEMUSYSTEM: 1
      PYTHONIOENCODING: utf8
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
      LANGUAGE: en_US.UTF-8
      WORKSPACE: /opt/build
      TOPDIR: /opt/build
      TEMPLATECONF: /opt/build/sources/meta-rubygems/conf/templates/rubygems-arm64-glibc

    runs-on: ubuntu-22.04

    container:
      image: privkweihmann/yocto-sca-minimal:2204
      volumes:
        - ${{ github.workspace }}:/opt/build
      options: --privileged --user=yoctouser

    steps:
      - name: setup (container)
        uses: priv-kweihmann/meta-sca-ci-utils/preparecontainer@2.0
      - name: checkout (poky)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@2.0
        with:
          repo: https://github.com/openembedded/openembedded-core.git
          ref: e556df28f47e754b53e1f46c97dde2b19fd8fad1
          branch: none
          add-layer: "0"
      - name: checkout (bitbake)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@2.0
        with:
          repo: https://github.com/openembedded/bitbake.git
          ref: 35a421cdcafb3595b9de5489ffdc567825400d26
          branch: none
          add-layer: "0"
      - name: checkout (meta-yocto)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@2.0
        with:
          repo: https://git.yoctoproject.org/meta-yocto.git
          ref: 66ea31cee15309af07afeee8dec8a6fe1d92d28e
          branch: none
          add-layer: "0"
      - name: checkout (meta-openembedded)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@2.0
        with:
          repo: https://github.com/openembedded/meta-openembedded.git
          ref: cf4755a60d71c9cd9a38e49fc7943dec76e00e5b
          branch: none
          add-layer: "0"
      - name: checkout (meta-rubygems)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@2.0
        with:
          repo: auto-determine
          branch: auto-determine
          gh-event-file: "1"
          add-layer: "0" # layer setup will be controller by TEMPLATECONF

      - name: configure (caches)
        id: caches
        uses: actions/cache@v3
        with:
          path: /opt/build/sstate-cache
          key: rubygems-arm64-glibc-${{ env.SCM_BRANCH }}-${{ github.base_ref }}
          restore-keys: |
            rubygems-arm64-glibc-${{ env.SCM_BRANCH }}-
      - name: configure (caches fallback)
        if: ${{ ! steps.caches.outputs.cache-hit }}
        run: |
          mkdir -p /opt/build/sstate-cache
      - name: activate (caches)
        uses: priv-kweihmann/meta-sca-ci-utils/addvar@2.0
        with:
          variable: SSTATE_DIR
          value: "${WORKSPACE}/sstate-cache"
      - name: build (glibc)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@2.0
        with:
          target: glibc
          ignore-exit-codes: 124 137
      - name: build (kernel)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@2.0
        with:
          target: linux-yocto
          ignore-exit-codes: 124 137
      - name: build (qemu-system)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@2.0
        with:
          target: qemu-system-native
          ignore-exit-codes: 124 137
      - name: build (tools 1st part)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@2.0
        with:
          target: "openssl perl"
          ignore-exit-codes: 124 137
      - name: build (tools 2nd part)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@2.0
        with:
          target: "ruby gmp yajl libxml2 libxslt krb5 libffi"
          ignore-exit-codes: 124 137
      - name: build (core-image-minimal-rubygems)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@2.0
        with:
          target: core-image-minimal-rubygems
          ignore-exit-codes: 124 137
          clean-skip: "deploy hosttools sysroots-uninative"
      - name: test (core-image-minimal-rubygems)
        uses: priv-kweihmann/meta-sca-ci-utils/testimage@2.0
        with:
          target: core-image-minimal-rubygems
          tapgen: "0"
