name: "[master]-[glibc]-[qemuarm64]"

on:
  push:
    branches:
      - master

jobs:
  buildrun:
    name: "build"
    env:
      SCM_BRANCH: master
      BUILD_MAXRUNTIME: 21000
      PYTHONIOENCODING: utf8
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
      LANGUAGE: en_US.UTF-8
      WORKSPACE: /opt/build
      TOPDIR: /opt/build
      TEMPLATECONF: /opt/build/sources/meta-rubygems/conf/templates/rubygems-arm64-glibc

    runs-on: ubuntu-latest

    container:
      image: privkweihmann/yocto-sca-minimal:2004
      volumes:
        - ${{ github.workspace }}:/opt/build
      options: --privileged --user=yoctouser

    steps:
      - name: setup (container)
        uses: priv-kweihmann/meta-sca-ci-utils/preparecontainer@latest
      - name: setup (caches)
        run: |
          mkdir -p ${WORKSPACE}/sstate-cache
        shell: bash
      - name: additional setup (caches)
        uses: actions/cache@v3
        with:
          path: /opt/build/sstate-cache
          key: rubygems-arm64-glibc-${{ env.SCM_BRANCH }}-${{ github.sha }}
      - name: checkout (poky)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@latest
        with:
          repo: git://git.yoctoproject.org/poky.git
          ref: d4f2f8269cff0e4e9a98ad1ef9c0f7b8a909d563
          branch: none
          add-layer: "0"
      - name: checkout (meta-rubygems)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@latest
        with:
          repo: https://github.com/priv-kweihmann/meta-rubygems.git
          branch: ${{ env.SCM_BRANCH }}
          add-layer: "0"
      - name: checkout (meta-openembedded)
        uses: priv-kweihmann/meta-sca-ci-utils/addlayer@latest
        with:
          repo: git://git.openembedded.org/meta-openembedded
          ref: 86169af03a85c93e250920bab569eb7f147e0c1f
          branch: none
          add-layer: "0"
      - name: configure (caches)
        uses: priv-kweihmann/meta-sca-ci-utils/addvar@latest
        with:
          variable: SSTATE_DIR
          value: /opt/build/sstate-cache
      - name: build (glibc)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@latest
        with:
          target: glibc
          ignore-exit-codes: 124 137
      - name: build (kernel)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@latest
        with:
          target: linux-yocto
          ignore-exit-codes: 124 137
      - name: build (qemu-system)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@latest
        with:
          target: qemu-system-native
          ignore-exit-codes: 124 137
      # From here on we also accept exit code 1, as there's
      # a high chance that we will run out of disk space
      # and current bitbake does not support
      # specific exit codes for BBDISKMON related settings
      # In the end we only care about the caches falling
      # out of this build, so that should be all fine
      - name: build (tools)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@latest
        with:
          target: "ruby gmp yajl libxml2 libxslt krb5 libffi"
          ignore-exit-codes: 124 137 1
      - name: build (core-image-minimal-rubygems)
        uses: priv-kweihmann/meta-sca-ci-utils/buildstep@latest
        with:
          target: core-image-minimal-rubygems
          ignore-exit-codes: 124 137 1
      - name: print disk usage
        if: always()
        uses: priv-kweihmann/meta-sca-ci-utils/diskusage@latest
